

.dark-mode {
    background-color: #121212;
    color: white;
}
  
main{
    height: 100%;
}
.dark-mode .some-component {
    background-color: #333;
    color: #fff;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

.card-content{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.title{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    align-items: center;
    margin-block: 20px;
    padding: 10px;
}

.title-p{
    max-width: 700px;
    text-align: center;
}
.title-h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}


  